# Database
prices.db
*.db

# Python
__pycache__/
*.py[cod]
*.pyo
.env
venv/
.venv/

# IDE
.vscode/
.idea/

# Секретные файлы
cookies.txt
.env

# Логи и временные файлы
*_out.txt
react-dist/

# Папка с картинками скинов
skin_images/
